.container {
	height: 100%;
	width: 100%;
	margin: 0px;
	display: flex;
}

.top{
	height: 100vh;
	width: 25vw;
	display: block;
}

.bottom{
	height: 100vh;
	width: 25vw;
	display: block;
}
.top_mid{
	height: 100vh;
	width: 25vw;
	display: block;
}

.bottom_mid{
	height: 100vh;
	width: 25vw;
	display: block;
}

.box{
	height: 25%;
	width: 100%;
}


.img{
	height: 78vh;
	width: 100vw;
	image:url("https://user-images.githubusercontent.com/31671266/33347627-5aede44a-d448-11e7-9a77-a3235acc2c4c.png");
	position: absolute;
	display: block;
	right: 20px;
	top: 190px;
   	margin: auto;
}

.square1{
	background-color: #C7C588;
}

.square2{
	background-color: #F6F5E5;
}

.square3{
	background-color: #C7C588;
}

@media screen and(min-width: 1000px){
		
	.container {
		height: 100%;
		width: 100%;
		margin: 0px;
		display: flex;
	}

	.top{
		height: 100vh;
		width: 50vw;
		display: flex;
	}

	.bottom{
		height: 100vh;
		width: 50vw;
		display: flex;
	}
	
	.top_mid{
		height: 100vh;
		width: 50vw;
		display: flex;
	}

	.bottom_mid{
		height: 100vh;
		width: 50vw;
		display: flex;
	}
	.box{
		height: 25%;
		width: 50%;
	}

	.square1{
		background-color: #C7C588;
	}

	.square2{
		background-color: #F6F5E5;
	}
}
/*Gio helped me find what would work best for my media queries so that my divs would still work with my webpage's aesthetic
